p{
    line-height: 1.8;
}
h4{
    margin-top: 10px;
}
#formul{
    width: 100%;
}
.w{
    width: 100%;
}
.container >div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
@media (min-width: 450px) { 
    .w,#formul{
        width: 80%;
    }
    .container >div{
        width: 80%;
    }
 }
 @media (min-width: 560px) { 
    .w,#formul{
        width: 400px;
    }
    .container >div{
        width: 400px;
    }
 }